.btn-primary {
    width: 175px;
    height: 50px;
}

#graph {
    background-color: #abb6c2;
    height: 800px;
}

#div_create_nodes {
    display: none;
}
#div_create_edge {
    display: none;
}
#div_delete_node {
    display: none;
}
#div_delete_edge {
    display: none;
}
#error_dialog {
    display: none;
}
#success {
    display: none;
}
#div_set_properties {
    display: none;
}
#div_probability_table {
    display: none;
    max-height: 750px;
    overflow: auto;
}
#div_query
{
    display: none;
}
